/* App.css */

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: #333;
  line-height: 190%;
}

.resume-container {
  max-width: 1100px;
  margin: 0 auto;
  background: linear-gradient(to right, #fff, #f3f3f3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  perspective: 1000px;

}

/* Header Styles */
.header {
  background: linear-gradient(to right, #434343, #262626);
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.header-content {
  max-width: 600px;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
}

/* Contact Styles */
.contact {
  padding: 20px;
  background: linear-gradient(to right, #f4d03f, #16a085);
  border-bottom: 2px solid #e0e0e0;
}


.contact h2 {
  color: #fff;
}

.contact-info p {
  margin: 5px 0;
  color: #333;
}

.contact_button{
  font-size: 17px;
  background: linear-gradient(to right, #f4d03f, #16a085);
  margin-left: 12px;
}

/* Section Styles (Education, Experience, etc.) */
section {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.5s;
}

section:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: rotateY(10deg);
}

.download-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}


h2 {
  color: #3498db;
}

/* Footer Styles */
footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
}
